# dqkit Quickstart

This notebook shows a minimal end-to-end run using **dqkit** on a toy pandas DataFrame:
- Create a `Dataset`
- Run profiling, missingness, imbalance
- Merge into a `RunReport`
- Apply standards/interpretations
- Render an HTML report

In [1]:
import pandas as pd
from dqkit.types import Dataset, RunReport
from dqkit.profiling import profile
from dqkit.missingness import analyze_missingness
from dqkit.imbalance import measure_imbalance
from dqkit.standards import apply_interpretations
from dqkit.report import render

df = pd.DataFrame({
    'age': [20, 25, 30, None, 45, 50],
    'fare': [100.0, 80.5, 120.2, 99.9, 200.0, 55.0],
    'label': [0, 0, 1, 1, 1, 1],
})
ds = Dataset(df, name='demo')
ds.df.head()

    age   fare  label
0  20.0  100.0      0
1  25.0   80.5      0
2  30.0  120.2      1
3   NaN   99.9      1
4  45.0  200.0      1

In [2]:
# Run a few modules
rep_profile = profile(ds, artifacts_dir='artifacts')
rep_missing = analyze_missingness(ds, artifacts_dir='artifacts')
rep_imb = measure_imbalance(ds, y='label')

# Merge reports
metrics = rep_profile.metrics + rep_missing.metrics + rep_imb.metrics
artifacts = {**rep_profile.artifacts, **rep_missing.artifacts, **rep_imb.artifacts}
combined = RunReport(metrics=metrics, artifacts=artifacts, meta={'example': 'quickstart'})

# Apply interpretations
interpreted = apply_interpretations(combined)
len(interpreted.metrics)

55

In [3]:
# Render HTML + Markdown report
paths = render(interpreted, out_dir='dq_reports', filename='quickstart.html')
paths

{'html': 'dq_reports/quickstart.html', 'markdown': 'dq_reports/quickstart.md'}